<app-navbar></app-navbar>
<div class="margintop"></div>
<div class="container">
  <div class="row cart-padding">
    <div class="col-lg-7">
      <div class="row">
        <div class="cart">
          <p>Giỏ hàng</p>
        </div>
      </div>
      <div class="row cart-item" *ngFor="let product of products">
        <div class="col-lg-4">
          <img src={{product.productPicture}} width="200px" height="200px">
        </div>
        <div class="col-lg-7 detail">
          <strong>{{product.productName}}</strong>
          <p>Tác giả: {{product.author}}</p>
          <p>Đơn giá: {{product.price | currency: "VND"}}</p>
          <p>Quantity: <input type="number" name="quantity" min="1" max="10" [(ngModel)]="product.quantity"
                              (click)="onClick(product)"></p>
        </div>
        <div class="col-log-1">
          <button class="button" (click)="delete(product)"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4 summary">
      <div class="row">
        <div class="cartsummary">
          <p>Đơn hàng</p>
        </div>
      </div>
      <div class="row cartsummarydetail">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="name">Họ tên</label>
            <input type="text" class="form-control" id="name" placeholder="Điền họ tên">
          </div>
          <div class="form-group">
            <label for="address">Họ tên</label>
            <input type="text" class="form-control" id="address" placeholder="Điền địa chỉ">
          </div>
          <p>Cách thanh toán: <select>
            <option value="COD">COD</option>
            <option value="Paypal">Paypal</option>
          </select></p>
          <p>TỔNG CỘNG:{{total | currency: "VND"}}</p></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
